.card {
  border-radius: var(--radius-s);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: var(--spacing-400);

  & img {
    background: var(--bkgd-avatar);
    border-radius: var(--radius-round);
  }

  &__title {
    font: var(--text-preset-1);
    line-height: var(--leading-fine);
  }

  &__author {
    font: var(--text-preset-2);
  }

  &__subtitle {
    font: var(--text-preset-4);
  }

  &__body p {
    font: var(--text-preset-3);
    line-height: var(--leading-standard);
  }
}

.card__heading {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--spacing-200);
}

.card-heading-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.quote-1 {
  background-color: var(--purple-500);
  color: var(--white);

  img {
    border: var(--stroke-width) solid var(--purple-300);
  }

  .card__subtitle {
    color: var(--purple-50);
  }

  .card__body p {
    color: var(--purple-50);
  }

  @media (min-width: 40.5rem) {
    background-image: url('images/bg-pattern-quotation.svg');
    background-position: top 0 right 6.5rem;
    background-repeat: no-repeat;
    grid-column: span 2;
  }

  @media (min-width: 75rem) {
    background-position: top 0 right 4.5rem;
  }
}

.quote-2 {
  background-color: var(--grey-500);
  color: var(--white);

  .card__subtitle {
    color: var(--grey-200);
  }

  .card__body p {
    color: var(--grey-100);
  }
}

.quote-3,
.quote-5 {
  background-color: var(--white);
  color: var(--grey-500);

  .card__subtitle {
    color: var(--grey-400);
  }

  .card__body p {
    color: var(--grey-400);
  }
}

.quote-4 {
  background-color: var(--dark-blue);
  color: var(--white);

  img {
    border: var(--stroke-width) solid var(--purple-500);
  }

  .card__title {
    color: var(--grey-200);
  }

  .card__body p {
    color: var(--grey-100);
  }

  @media (min-width: 40.5rem) {
    grid-column: span 2;
  }
}

.quote-5 {
  @media (min-width: 40.5rem) {
    grid-column: span 2;
  }

  @media (min-width: 75rem) {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}
